*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: white;
    background-size: 100%;
}

.tarjetas{
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(248, 16, 16);
}

.boxtitu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{

    width: 100px;
    height: 50px;
    background: rgb(17, 0, 0);
    border-radius: 20px;
    float: left;
    text-align: right;
 

}





/*INICIO HEADER----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

header a{
    text-decoration: none;
    color: white;
}

header li:hover a{
    color: black;
}

header{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 350px;
}

.logo{
    text-align: left;
    padding: 20px 0 0;
    width: 100%;
}

.logo img{
    width: 250px;
    text-align: center;
}

nav{
    margin: auto;
    width: 1024px;
    padding-top: 35px;
}

nav > ul{
    list-style: none;
    display: flex;
    padding: 0;
}

nav > ul li{
    transition: all 500ms ease;
    position: relative;
    width: 100%;
    text-align: center;
    padding: 10px 40px;
    background: rgb(255, 255, 255);/*CAMBIABLE*/
    color: white;/*CAMBIABLE*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    cursor: pointer;
    overflow: hidden;
}

nav ul a{
    width: 100%;
}

nav > ul li:last-child{
    margin: 0;
}

nav > ul li:hover{
    background: rgb(255, 255, 255);/*Aqui va el color cuando el mouse pasa sobre las opciones del menu*/
    color: black;
}

/*Inicio Codigo para submenus*/
.sub-menu{
    transition: all 500ms ease;
    list-style: none;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0;
    opacity: 0;
}

nav > ul li .sub-menu a{
    transition: all 500ms ease;
    width: 100%;
    background: rgb(255, 255, 255);/*CAMBIABLE*/
    padding: 10px 0;
    color: white;
}

nav > ul li .sub-menu::after{
    content: "";
    transition: all 1s ease;
    position: absolute;
    left: 0;
    top: 0;
    width: 8px;
    height: 0;
    background-color: mediumaquamarine;/*CAMBIABLE*/
}

nav > ul li:hover{
    overflow: visible;
}

nav > ul li:hover .sub-menu{
    height: auto;
    width: 100%;
    top: 44px;
    opacity: 1;
}

nav > ul li:hover > ::after{
    height: 100%;
}

.sub-menu li:hover{
    background: rgb(255, 255, 255);/*CAMBIABLE*/
    color: black;
} 

/*INICIO FOOTER---------------------------------------------------------------------------------------------------------------------------------------------------*/

footer{
    position: relative;
    width: 100%;
    background: rgb(255, 255, 255); /*#0a8ea6*/
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .icons{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .icons li{
    list-style: none;
}

footer .icons li a{
    font-size: 2em;
    color: rgb(0, 0, 0);
    margin: 0 10px;
    display: inline-block;
    transition: 0.8s;
}

.facebook:hover{
    color: blue;
    transform: scale(1.3);
}

.instagram:hover{
    color: blueviolet;
    transform: scale(1.3);
}

.youtube:hover{
    color: red;
    transform: scale(1.3);
}

footer p{
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../IMG/wave.png);
    background-size: 1000px 100px;
}

footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}

footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}

@keyframes animateWave_02 {
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}

.foot{
    font-family: Titu;
    font-size: 50px;
    padding-top: 90px;
}

#c{
    font-family: Titu;
    font-size: 50px;
    padding-top: 90px;
    text-align: left;
}

.contacto{
    height: 110px;
    line-height: 7px;
}

.contacto p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-align: left;
}

footer .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

footer .grupo-1 .caja figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .grupo-1 .caja figure img{
    width: 250px;
}

.grupo-2{
    background: rgb(255, 255, 255);
    width: 100%;
    justify-content: center;
    align-items: center;
}

#derecho{
    color: rgb(0, 0, 0);
    font-size: 15px;
}

#rayita{
    border-left: 2px solid rgb(0, 0, 0);
    border-right: 2px solid rgb(0, 0, 0);
}

#cajacontac{
    margin-left: 15px;
}

/*INICIO MAIN------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.card{
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    line-height: 25px;
    color: #fff;
    background: rgba(5, 77, 77, 0.712);
    text-align: center;
    padding-top: 20px;
}

.card .back{
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back .link{
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card .back .link a{
    color: #f3f3f3;
}

.card .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back .p{
    letter-spacing: 1px;
}

.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}