/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
body{
    margin: 0%;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2) ), 
    url("home22.jpg");
    height: 100vh;
    background-size:cover ;
    background-repeat:no-repeat ;
    height: 50%;
}
    
.heading {
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--black);
    background-color:saddlebrown ;
}
.servicios{
    background-color: blue;
}








html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
}
/*INICIO FOOTER---------------------------------------------------------------------------------------------------------------------------------------------------*/

footer{
    position: relative;
    width: 100%;
    background: rgb(255, 255, 255); /*#0a8ea6*/
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	top: 300%;
}
.content-header h1 {
    color: rgb(255, 255, 255);
}

.content-header p {
    color: rgb(249, 249, 249);
}

footer .icons{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .icons li{
    list-style: none;
}

footer .icons li a{
    font-size: 2em;
    color: rgb(0, 0, 0);
    margin: 0 10px;
    display: inline-block;
    transition: 0.8s;
}

.twitter:hover{
    color: blue;
    transform: scale(1.3);
}

.instagram:hover{
    color: blueviolet;
    transform: scale(1.3);
}

.whatsapp:hover{
    color: red;
    transform: scale(1.3);
}

footer p{
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
 
    background-size: 1000px 100px;
}

footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}

footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}

@keyframes animateWave_02 {
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}

.foot{
    font-family: Titu;
    font-size: 50px;
    padding-top: 90px;
}

#c{
    font-family: Titu;
    font-size: 50px;
    padding-top: 90px;
    text-align: left;
}

.contacto{
    height: 110px;
    line-height: 7px;
}

.contacto p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-align: left;
}

footer .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

footer .grupo-1 .caja figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .grupo-1 .caja figure img{
    width: 250px;
}

.grupo-2{
    background: rgb(255, 255, 255);
    width: 100%;
    justify-content: center;
    align-items: center;
}

#derecho{
    color: rgb(0, 0, 0);
    font-size: 15px;
}

#rayita{
    border-left: 2px solid rgb(0, 0, 0);
    border-right: 2px solid rgb(0, 0, 0);
}


#cajacontac{
    margin-left: 15px;
}
/*INICIO MAIN------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: white;
    background-size: 100%;
}

.tarjetas{
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);

}

.boxtitu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{

    width: 100px;
    height: 50px;
    background: rgb(17, 0, 0);
    border-radius: 20px;
    float: left;
    text-align: right;
 

}
.card{
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img{
	
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    line-height: 25px;
    color: #fff;
    background: rgba(5, 77, 77, 0.712);
    text-align: center;
    padding-top: 20px;
}

.card .back{
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back .link{
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card .back .link a{
    color: #f3f3f3;
}

.card .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back .p{
    letter-spacing: 1px;
}

.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}

