body{
margin: 0%;
padding: 0;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2) ), 
url("home22.jpg");
height: 100vh;
background-size:cover ;
background-repeat:no-repeat ;



}

.formulario{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 400px;
background:white ;
border-radius: 10px;
}
.formulario h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #ee9d1b

}
.formulario form{
    padding: 0 40px;
    box-sizing: border-box;

}
form .username{
    position: relative;
    border-bottom: 2px solid #ee9d1b;
    margin: 30px 0;
    
    
}
#usuario{
    border: 0;
}
#Contrasena{

    border: 0;

}
.username inpu{
width: 100%;
padding: 0 5px;
height: 40px;
font-size: 16px;
border: none;
background: none;
outline: none;

}


.username label{

position: absolute;
top: 50%;
left: 5px;
color: #adadad ;
transform: translateY(-60%);
font-size: 16px;
pointer-events: none;
transition: .5s;

}

.username span::before{

content: ´´;
position: absolute;
top: 40px;
left: 0;
width: 100%;
height: 2px;
background: #ee9d1b;
}

.username input:focus ~ label,
.username input:focus ~ label{
top: -5px;
color:#ee9d1b;


}

.username input:focus ~ span::before,
.username input:focus ~ span::before{

    width: 100%;

}

.recordar{
margin: -5px 0 20px 5px;
color: blue;
cursor: pointer;

}

.recordar:hover{

text-decoration: underline;

}

input[type="submit"]{

width: 100%;
height: 50px;
border: 1px solid;
background: #ee9d1b;
border-radius: 25px;
font-size: 18px;
color: white;
cursor: pointer;
outline: none;
}
.logo{

	display: flex;
justify-content: center;
align-items: center;
margin-left: 50px;
margin-right: 270px;
padding: 20px 40px;
font-size:1.3rem; 
color: #fff;
}

x

input[type="submit"]:hover{
border-color:#ee9d1b ;
transition: .5s;

}

.registrarse{

margin: 30px 0;
text-align: center;
font-size: 16px;
color: black;
}

.registrarse a{
color: blue;
text-decoration: none;


}
.registrarse a:hover{

    text-decoration: underline;
}
#atras-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: coral;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}  #atras-btn:hover {
    background-color: #ff8c00;
  }




    


