@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');





/*------------------------------------------------------------------------INICIO MAIN------------------------------------------------------------------------*/

main{
    width: 100%;
    height: 100%;
    display: grid;
}
.contact-in{
    width: 80%;
    height: auto;
    margin-left: 100px;
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px #666;
}
.contact-map{
    width: 100%;
    height: auto;
    flex: 50%;
}
.contact-map iframe{
    width: 100%;
    height: 100%;
}
.contact-form{
    width: 100%;
    height: auto;
    flex: 50%;
    padding: 30px;
    text-align: center;
}
.contact-form h1{
    margin-bottom: 10px;

}
.contact-form-txt{
    width: 100%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}
.contact-form-txt::placeholder{
    color: #aaa;
}
.contact-form-txtarea{
    width: 100%;
    height: 130px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 20px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}
.contact-form-txtarea::placeholder{
    color: #aaa;
}
.contact-form-btn{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 50px;
    background: rgb(238, 151, 20);
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
    font-size: 18px;
}   