
.main-nav{

    display: flex;

    }
  
    
    ul{
        
    display: flex;
    margin-right: 100px;
    }
    ul li a{
    
    display: inline-block;	
    padding: 20px 40px;
    font-size: 1.3rem;
    color: #fff;
    }
    ul li a:hover{
        background: #1bceee ;
        border: 2px solid #fff;
        padding: 17px 35px;
    }
* {
    font-family: 'Poppins', sans-serif;

    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

.nombre {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 30%;
    height: 70px;
    background-color: rgb(10, 10, 10);
    float: left;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}


section {
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--black);
}

.heading span {
    background: var(--orange);
    color: rgb(16, 15, 15);
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .2rem solid var(--black);
    color: var(--black);
    cursor: pointer;
    background: none;
}

.btn:hover {
    background: var(--orange);
    color: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: linear-gradient(to bottom, #7ab0d4, #eaf5ef); 
    box-shadow: var(--box-shadow);
    
}

.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .logo i {
    color: var(--orange);
}

.header .navbar a {
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}

.header .navbar a:hover {
    color: var(--orange);
}

.header .icons div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--black);
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover {
    background: var(--orange);
    color: #fff;
}

#menu-btn {
    display: none;
}

.header .login-form.active {
    right: 2rem;
    transition: .4s linear;
}

.header .login-form {
    position: absolute;
    text-align: center;
    top: 110%;
    right: -100%;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background: #fff;
}

.header .search-form {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 50rem;
    height: 5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.header .search-form.active {
    right: 2rem;
    transition: .4s linear;
}

.header .search-form input {
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
}

.header .search-form label {
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .search-form label:hover {
    color: var(--orange);
}

.header .shopping-cart {
    position: absolute;
    top: 110%;
    right: -110%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 30rem;
    background: #fff;
    content: center;
    text-align: center;
}

.header .shopping-cart.active {
    right: 2rem;
    transition: .4s linear;
}

.header .shopping-cart .box {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}

.header .shopping-cart .box img {
    height: 10rem;
}

.header .shopping-cart .box .fa-trash {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    cursor: pointer;
    color: var(--light-color);
    transform: translateY(-50%);
}

.header .shopping-cart .box .fa-trash:hover {
    color: var(--orange);
}

.header .shopping-cart .box .content h3 {
    color: var(--black);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content span {
    color: var(--light-color);
    font-size: 1.6rem;
}

.header .shopping-cart .box .content .quantity {
    padding-left: 1rem;
}

.header .shopping-cart .total {
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--black);
}

.header .shopping-cart .btn {
    display: block;
    text-align: center;
    margin: 1rem;
}





.home .content {
    text-align: center;
    width: 60rem;
}

.home .content h3 {
    color: var(--black);
    font-size: 3rem;
}

.home .content h3 span {
    color: var(--orange);
}

.home .content p {
  
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8;
}








































































































.heading {
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 2rem;
    font-size: 3rem;
    color: var(--black);
    background-color:rgb(255, 255, 255) ;
}

















html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
}
/*INICIO FOOTER---------------------------------------------------------------------------------------------------------------------------------------------------*/

footer{
    position: relative;
    width: 100%;
    background: rgb(255, 255, 255); /*#0a8ea6*/
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	top: 20%;
}
.content-header h1 {
    color: black;
}

.content-header p {
    color: black;
}

footer .icons{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .icons li{
    list-style: none;
}

footer .icons li a{
    font-size: 2em;
    color: rgb(0, 0, 0);
    margin: 0 10px;
    display: inline-block;
    transition: 0.8s;
}

.twitter:hover{
    color: blue;
    transform: scale(1.3);
}

.instagram:hover{
    color: blueviolet;
    transform: scale(1.3);
}

.whatsapp:hover{
    color: red;
    transform: scale(1.3);
}

footer p{
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
 
    background-size: 1000px 100px;
}

footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}

footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}

@keyframes animateWave_02 {
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}

.foot{
    font-family: Titu;
    font-size: 50px;
    padding-top: 90px;
}

#c{
    font-family: Titu;
    font-size: 50px;
    padding-top: 90px;
    text-align: left;
}

.contacto{
    height: 110px;
    line-height: 7px;
}

.contacto p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-align: left;
}

footer .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

footer .grupo-1 .caja figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .grupo-1 .caja figure img{
    width: 250px;
}

.grupo-2{
    background: rgb(255, 255, 255);
    width: 100%;
    justify-content: center;
    align-items: center;
}

#derecho{
    color: rgb(0, 0, 0);
    font-size: 15px;
}

#rayita{
    border-left: 2px solid rgb(0, 0, 0);
    border-right: 2px solid rgb(0, 0, 0);
}


#cajacontac{
    margin-left: 15px;
}
*INICIO MAIN------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.tarjetas{
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);

}

.boxtitu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{

    width: 100px;
    height: 50px;
    background: rgb(17, 0, 0);
    border-radius: 20px;
    float: left;
    text-align: right;
 

}
.card{
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img{
	
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    line-height: 25px;
    color: #fff;
    background: rgba(5, 77, 77, 0.712);
    text-align: center;
    padding-top: 20px;
}

.card .back{
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back .link{
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card .back .link a{
    color: #f3f3f3;
}

.card .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back .p{
    letter-spacing: 1px;
}

.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}

