@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
}

.titulo{
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: absolute;
    padding-bottom: 60px;
    opacity: 100%;
    flex-direction: column;
    font-size: 12px;
    width: 340px;
    box-shadow: 7px 7px 50px rgb(236, 198, 28); 
    height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #fff;
}

.titulo h1{
    text-align: center;
    font-size: 29px;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.titulo .btnEnviar{
    align-items: center;
    text-align: center;
}
.titulo form input[type="submit"]{
    text-align: center;
    width: 00px;
    height: 30px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 12px;
    text-transform: uppercase;
    border: 0px;
    background-color: darkcyan;
    color: #fff;
}
#atras-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: coral;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9;
}  #atras-btn:hover {
    background-color: #ff8c00;
  }

.titulo p{
    text-align: center;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}
.titulo p{
    margin-bottom: 5px;
}
.titulo .registrate{
    color: #fff;
}
.titulo form{
    margin-top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.titulo label{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bolder;
}
.titulo .btnEnviar{
    text-align: center;
}
.titulo p{
    margin-bottom: 5px;
}
.titulo p a{
    text-decoration: none;
    color: darkcyan;
    font-weight: bolder;
}
.titulo form input{
    margin: 10px 0 10px;
    border: 1px;
    border-style: dotted;
    border-radius: 2px;
    margin-left: 0;
    font-size: 12px;
    padding: 5px;
    padding-left: 10px;
}
.titulo form input:focus{
    border-color: rgb(233, 159, 30);
}
.titulo form input[type="submit"]{
    text-align: center;
    width: 250px;
    height: 30px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 3px;
    font-size: 12px;
    text-transform: uppercase;
    border: 0px;
    background-color: rgb(233, 159, 30);
    color: #fff;
}
.example{
    width: 100%;
    height: 50%;
    z-index: -1;
    position: fixed;
    background-color: rgb(27, 213, 238); 
}
.fondo{

background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2) ), 
url("home22.jpg");
background-size: cover;
background-repeat: no-repeat;
margin: 0;
height: 100vh;
font-family: Dosis,sans-serif;
position: relative;
}

.contenedor h2{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-450%) translateX(-50%);
    font-size: 40px;
    color: #fff;
    z-index: 2;
    font-family: 'Lobster', cursive;
}
.contenedor .registrate{
    text-align: left;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-weight: normal;
    top: 50%;
    left: 50%;
    transform: translateY(1000%) translateX(-50%);
    font-size: 15px;
    color: rgb(51, 103, 120);
    z-index: 2;
    font-family: 'Lobster', cursive;
}
.contenedor .registrate a{
    color: darkcyan;
    text-decoration: none;
    font-family: 'Lobster', cursive;
}
.example.active{
    width: 100%;
    height: 90px;
    z-index: -1;
    position: fixed;
    background-color: rgb(51, 133, 144);
    transform: rotate(270deg);
    transition: 1s ease;
    top: 50%;
    right: 46.65%;
    box-shadow: 0px 0px 20px darkcyan;
}


